.missedContainer {
    width: 30rem;
    margin-top: 2rem;

    .missedHeader {
        text-transform: uppercase;
        color: $missedHeader;
    }

    .missedLettersContainer {
        display: flex;
        margin-top: 0.5rem;

        .missedLetter {
            color: $accent;
            font-size: 3rem;
            margin-right: 0.5rem;
            text-transform: uppercase;
        }
    }
}