.wordContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    z-index: 1;

    .box-letterCorrect {
        background-color: $boxBg-correct;
        width: 4.2rem;
        height: 4.5rem;
        border-radius: 5px;
        opacity: 0.9;
        display: flex;
        justify-content: center;
        align-items: center;

        .letterCorrect {
            color: $mainLetters;
            font-size: 2.5rem;
            text-transform: uppercase;
            visibility: hidden;

            &.visible {
                visibility: visible;
            }
        }
    }

    .empty {
    background-color: $boxBg-empty;
    }
}

