$outer-bg: #3b4163;
$inner-bg: #f5f5f5;
$skin: #fece8a;
$arm-right: #4B9D6A;
$arm-left: #88C257;
$leg: #3C5C92;
$boxBg-correct: #53565D;
$boxBg-empty: #E6E6E7;
$mainLetters: #ffffff;
$accent: #4D71FB;
$missedHeader: #53565D;
$overlay-bg: #445588;
$restartButton: #FFB900;